### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
total_players = len(purchase_data["SN"].value_counts())

player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = len((purchase_data['Item ID']).unique())
average_price = (purchase_data['Price']).mean()
number_of_purchases = (purchase_data['Purchase ID']).count()
total_revenue = purchase = (purchase_data['Price']).sum()

# Summary of Data Frame to hold the results 
summary_df = pd.DataFrame({'Number of Unique Items':[unique_items],
                           'Average Price':[average_price],
                           'Number of Purchases':[number_of_purchases],
                           'Total Revenue':[total_revenue]})
# Display data frame
summary_df.style.format({'Average Price': '${:,.2f}'
                         'Total Revenue': '${:,.2f}'})

SyntaxError: invalid syntax (<ipython-input-6-ba044132f651>, line 13)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Percantage of male players
gender_stats = purchase_data.groupby('Gender')

# Total of screen names by gender
total_count_gender = gender_stats.nunique()['SN']

# Total count by gender and divide by players
percentage_of_players = total_count_gender / total_players * 100

# Create DataFrame with the demographics
gender_demographics = pd.DataFrame({'Percentage of Players': percentage_of_players, 'Total Count': total_count_gender})

gender_demographics.index.name = None


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchase_count = gender_stats['Purchase ID'].count()

avg_purchase_price = gender_stats['Price'].mean()

avg_purchase_total = gender_stats['Price'].sum()

avg_purchase_per_person = avg_purchase_total/total_count_gender

# create the dataframe

gender_demographics = pd.DataFrame({'Purchase Count': purchase_count, 
                                    'Average Purchase Price': avg_purchase_price,
                                    'Average Purchase Value': avg_purchase_total,
                                    'Average Purchase Total Per Persom': avg_purchase_per_person})

gender_demographics.index.name = 'Gender'

gender_demographics.style.format({'Average Purchase Value':'${:,.2f}',
                                  'Average Purchase Price':'${:,.2f}',
                                  'Average Purchase Total per Person':'${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Make the Bins for ages of players
age_bins = [0, 0.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data['Age Group'] = pd.cut(purchase_data['Age'],age_bins, labels = group_names)
purchase_data

age_group = purchase_data.groupby('Age Group')

total_count_age = age_group['SN'].nunique()

percentage_by_age = (total_count_age/total_players) * 100

age_demographics = pd.DataFrame({'Percentage of Players': percentage_by_age, 'Total Count': total_count_age})

age_demographics.index.name = None

age_demographics.style.format({'Percentage of Players': '{:,.2f}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purchase_count_age = age_group['Purchase ID'].count()

avg_purchase_price_age = age_group['Price'].mean()

total_purchase_value = age_group['Price'].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_demographics = pd.DataFrame({'Purchase Count': purchase_count_age,
                                 'Average Purchase Price': avg_purchase_price_age,
                                 'Total Purchase Value': total_purchase_value,
                                 'Average Purchase Total per Person': avg_purchase_per_person_age})

age_demographics.index.name = None

age_demographics.style.format({'Average Purchase Price':'{:,.2f}',
                               'Total Purchase Value':'{:,.2f}', 
                              'Average Purchase Total per Person':'{:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
spender_stats = purchase_data.groupby('SN')

purchase_count_spender = spender_stats['Purchase ID'].count()

avg_purchase_price_spender = spender_stats['Price'].mean()

purchase_total_spender = spender_stats['Price'].sum()

top_spenders = pd.DataFrame({'Purchase Count': purchase_count_spender,
                             'Average Purchase Price':avg_purchase_price_spender,
                             'Total Purchase Value':purchase_total_spender})

formatted_spenders = top_spenders.sort.values['Total Purhcase Value'], ascending = False.head()
                                              
formatted_spenders.style.format({'Average Purchase Total':'${:,.2f}',
                                 'Average Purchase Price':'${:,.2f}',
                                 'Total Purchase Value':'${:,.2f}'})

AttributeError: 'bool' object has no attribute 'head'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
items = purchase_data[['Item ID', 'Item Name', 'Price']]

item_stats = items.groupby(['Item ID', 'Item Name'])

purchase_count_item = item_stats['Price'].count()

purchase_value = (item_stats['Price'].sum())

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({'Purchase Count': purchase_count_item,
                                   'Item Price': item_price,
                                   'Total Purchase Value': purchase_value})

popular_formatted = most_popular_items.sort_values(['Purchase Count'], ascending=False).head()

popular_formatted.style.format({'Item Price':'${:,.2f}',
                               'Total Purchase Value':'${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [39]:
popular_formatted = most_popular_items.sort_values(['Total Purchase Value'],
                                                  ascending = False).head()

popular_formatted.style.format({'Items Price':'${:,.2f}',
                               'Total Purchase Value':'${:,.2f}'})

In [ ]:
# What we can gather from this data

The demoprahic that spends the most money on video games in the age group of 20-24, the data shows this demographic has a total purchase value of $1114.06

There is what we would presume to be a bell curve increase when looking at the age demo. In childhood there is a relatvly lower prominance in playing video games until age reaches the later teenage years and the beginning of the 20s. At the late 20s we start to see a significant decline.